<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>K-Means · Play Store Analytics</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Sora:wght@300;400;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>

    <nav>
    <div class="nav-brand-wrapper">
        <img src="/static/assets/logo.png" 
             alt="PlayAnalytics logo"
             style="width:32px;height:32px;border-radius:20px;object-fit:cover;">
        <a class="nav-brand" href="/">K-MEANS</a>
    </div>

    <div class="nav-links">
        <a href="/" {% if request.path=='/' %}class="active" {% endif %}>Inicio</a>
        <a href="/descripcion/" {% if request.path=='/descripcion/' %}class="active" {% endif %}>Descripción</a>
        <a href="/dataset/" {% if request.path=='/dataset/' %}class="active" {% endif %}>Dataset</a>
        <a href="/conceptos/" {% if request.path=='/conceptos/' %}class="active" {% endif %}>Conceptos</a>
        <a href="/modelo/" {% if request.path=='/modelo/' %}class="active" {% endif %}>Modelo</a>
        <a href="/interpretacion/" {% if request.path=='/interpretacion/' %}class="active" {% endif %}>Interpretación</a>
    </div>
</nav>

    {% block content %}{% endblock %}

    <footer>Play Store K-Means Analytics · Clustering con Python &amp; Flask</footer>
</body>

</html>